export(meiv)
export(.nrSum)
export(.prSum)
export(.part1)
export(.part2)
export(.part2noz)
export(.part3)
export(.part3noz)
export(.part4)
export(.part4noz)
export(.finalpart)
import(survival)
import(numDeriv)
importFrom("stats", "as.formula", "optim", "pnorm", "qnorm", "rnorm",
             "runif")
