export(meivm3)
export(meivm4)
export(.part1)
export(.part1noa0)
export(.part1noa1)
export(.part2)
export(.part2)
export(.part2noa0)
export(.part2noa1)
export(.part3)
export(.part3noa0)
export(.part3noa1)
export(.part4)
export(.part4noa0)
export(.part4noa1)
export(.m4)
export(.m4noa0)
export(.m4noa1)
export(.finalpart)
export(.finalpartnoa0)
export(.finalpartnoa1)
import(survival)
import(numDeriv)
import(MASS)
importFrom("stats", "as.formula", "optim", "pnorm", "qnorm", "rnorm",
             "runif","binomial","glm")
